<div class="registration-view">
    <form class="registration-view__form registration-view__form_border">
        <h1 class="form__registration-text">Регистрация</h1>
        <div class="form__item">
            <div>
                <label class="form__label">Почта </label>
            </div>
            {{{ emailInput }}}
        </div>
        <div class="form__item">
            <div>
                <label class="form__label">Логин</label>
            </div>
            {{{ loginInput }}}
        </div>
        <div class="form__item">
            <div>
                <label class="form__label">Имя</label>
            </div>
            {{{ firstNameInput }}}
        </div>
        <div class="form__item">
            <div>
                <label class="form__label">Фамилия</label>
            </div>
            {{{ secondNameInput }}}
        </div>
        <div class="form__item">
            <div>
                <label class="form__label">Телефон</label>
            </div>
            {{{ phoneInput }}}
        </div>
        <div class="form__item">
            <div>
                <label class="form__label">Пароль</label>
            </div>
            {{{ passwordInput }}}
        </div>
        <div class="form__item">
            <div>
                <label class="form__label">Пароль (еще раз)</label>
            </div>
            {{{ passwordAgainInput }}}
        </div>
        {{{ registerButton }}}
        {{{ entranceButton }}}
    </form>
</div>
