<div class="change-password-view">
    <form class="change-password-view__box">
        <div class="change-password__item">
            <p class="change-password__item__label">Старый пароль</p>
            {{{ oldPassword }}}
        </div>
        <div class="change-password__item">
            <p class="change-password__item__label">Новый пароль</p>
            {{{ newPassword }}}
        </div>
        <div class="change-password__item">
            <p class="change-password__item__label">Повторите пароль</p>
            {{{ repeatPassword }}}
        </div>
        {{{ saveButton }}}
        {{{ backButton }}}
    </form>
</div>
