<div class="messenger-view">
    <div class="messenger-view__left" id="message-container">
        <div class="left__info">
            <div class="info__main">
                <div class="info__profile">
                    <div class="profile__photo">
                        <img src="{{ src }}">
                    </div>
                    {{{ profileLabel }}}
                   </div>
                {{{ createChatLabel }}}
            </div>
            {{{ infoInput }}}
        </div>
        {{{ dialogContainer }}}
    </div>
    <div class="messenger-view__right" id="dialog-space">
        {{{ messenger }}}
    </div>
</div>
