<div class="messenger-view">
    <div class="messenger-view__left" id="message-container">
        <div class="left__info">
            <div class="info__main">
                <div class="info__profile">
                    <div class="profile__photo" style="background-image: url(https://ya-praktikum.tech/api/v2/resources/{{ user.avatar }}); background-size: 50px 50px;">
                    </div>
                    {{{ profileLabel }}}
                   </div>
                {{{ createChatLabel }}}
            </div>
            {{{ infoInput }}}
        </div>
        {{{ dialogContainer }}}
    </div>
    <div class="messenger-view__right" id="dialog-space">
        {{{ messengerContainer }}}
    </div>
</div>
