<div class="dialog-item" id="{{ id }}">
    <div class="dialog-item__photo" style="background-image: url(https://ya-praktikum.tech/api/v2/resources/{{ img }}); background-size: 50px 50px;">
    </div>
    <div class="dialog-item__info">
        <div class="info__data">
            <p class="data__name">{{ name_message }}</p>
            <p class="data__date">{{ date }}</p>
        </div>
        <div class="info__message">
            <p class="message__text">{{ message }}</p>
            <p class="{{style}}" id="count__{{id}}">{{ count }}</p>
        </div>
    </div>
</div>
