<div class="dialog-space">
    <div class="dialog-space__header">
        <div class="header__info">
            <div class="header__photo"></div>
            <p class="header__name">{{ name }}</p>
        </div>
        <div class="header__add-button">
            {{{ add }}}
        </div>
    </div>
    <div class="dialog-space__dialog" id="dialog-space__dialog">
        {{{ messageContainer }}}
    </div>
    <form class="dialog-space__sender">
        {{{ addButton }}}
        {{{ messageInput}}}
        {{{ sendButton }}}
    </form>
</div>
