<div class="dialog-item" id="{{ id }}" onclick="openDialog({{ id }})">
    <div class="dialog-item__photo">
        <img src="{{ src }}">
    </div>
    <div class="dialog-item__info">
        <div class="info__data">
            <div class="data__name">{{ name_message }}</div>
            <div class="data__date">{{ date }}</div>
        </div>
        <div class="info__message">
            <div class="message__text">{{ message }}</div>
            <div class="{{style}}" id="count__{{id}}">{{ count }}</div>
        </div>
    </div>
</div>