<div class="profile-view-edit">
    <div class="profile-view-edit__box">
        <button class="form__photo-edit" name="avatar">{{ img }}</button>
        <div class="form__name-edit">{{ name }}</div>
        <div class="form__item-profile-edit">
            <div class="form__item__label-edit">Почта</div>
            <input class="form__item__data-edit" name="email" value="{{ email }}">
        </div>
        <div class="form__item-profile-edit">
            <div class="form__item__label-edit">Логин</div>
            <input class="form__item__data-edit" name="login" value="{{ login }}">
        </div>
        <div class="form__item-profile-edit">
            <div class="form__item__label-edit">Имя</div>
            <input class="form__item__data-edit" name="first_name" value="{{ first_name }}">
        </div>
        <div class="form__item-profile-edit">
            <div class="form__item__label-edit">Фамилия</div>
            <input class="form__item__data-edit" name="second_name" value="{{ second_name }}">
        </div>
        <div class="form__item-profile-edit">
            <div class="form__item__label-edit">Имя в чате</div>
            <input class="form__item__data-edit" name="display_name" value="{{ nick_name }}">
        </div>
        <div class="form__item-profile-edit">
            <div class="form__item__label-edit">Телефон</div>
            <input class="form__item__data-edit" name="phone" value="{{ phone }}">
        </div>
        {{> button class="button-green button-filled-bordered" label="Сохранить" onclick="goToPage('profile_view', {name: 'Vitaly Borisov', login: 'asllf', email: 'vit@mail.com', first_name: 'Vitaly', second_name: 'Borisov', nick_name: 'Vita', phone: '+79277777777'})" }}
    </div>
</div>
