<div class="profile-view-edit">
    <form class="profile-view-edit__box">
        <button class="form__photo-edit" name="avatar">{{ img }}</button>
        <p class="form__name-edit">{{ name }}</p>
        <div class="form__item-profile-edit">
            <p class="form__item__label-edit">Почта</p>
            {{{ emailInput }}}
        </div>
        <div class="form__item-profile-edit">
            <p class="form__item__label-edit">Логин</p>
            {{{ loginInput }}}
        </div>
        <div class="form__item-profile-edit">
            <p class="form__item__label-edit">Имя</p>
            {{{ firstNameInput }}}
        </div>
        <div class="form__item-profile-edit">
            <p class="form__item__label-edit">Фамилия</p>
            {{{ secondNameInput }}}
        </div>
        <div class="form__item-profile-edit">
            <p class="form__item__label-edit">Имя в чате</p>
            {{{ nickNameInput }}}
        </div>
        <div class="form__item-profile-edit">
            <p class="form__item__label-edit">Телефон</p>
            {{{ phoneInput }}}
        </div>
        {{{ saveButton }}}
    </form>
</div>
